

h2{
    animation: move 1s;
    -webkit-animation: move 1s;
}


form div{
  height:20px;
  padding:20px 20px;
  box-shadow:2px 2px 5px grey;
  text-align:center;
  transition: all 0.3s ease-in-out;
  overflow:hidden;
  border-radius:8px;
}

form div:hover{
  height: 105px;
  box-shadow:2px 2px 20px var(--main-accent-color);
}

form div b{
  color:black;
  transition: all 0.3s ease-in-out;
}

form div:hover b{
  color: var(--main-accent-color);
}

form div p{
  color:black;
}


form div#text_sentiment{
  background-image: url("../img/sentiment.png"), linear-gradient(to bottom right,whitesmoke,whitesmoke);
  background-repeat: no-repeat, no-repeat;
  background-size: 100px, 100%;
  background-position: 10% 5px, 0% 0%;
}

form div#digits{
  background-image: url('../img/digits.png'), linear-gradient(to bottom right,whitesmoke,whitesmoke);
  background-repeat: no-repeat, no-repeat;
  background-size: 100px, 100%;
  background-position: 10% 5px, 0% 0%;
}



.container{
	margin: 0 auto;
	width:80%;
}

p{
	margin-top:30px;
	font-size:17px;
}