:root {
    --main-bg-color: whitesmoke; 
    --main-nav-txt-color: black;
    --main-txt-color: black;
    --main-accent-color: #4285f4;
}


form div{
  background:var(--main-bg-color);
  height:20px;
  padding:20px 20px;
  box-shadow:2px 2px 5px grey;
  text-align:center;
  transition: all 0.3s ease-in-out;
  overflow:hidden;
  border-radius:8px;
}

form div:hover{
  height: 105px;
  box-shadow:2px 2px 5px var(--main-accent-color);
}

form div b{
  color:black;
  transition: all 0.3s ease-in-out;
}

form div:hover b{
  color: var(--main-accent-color);
}

form div p{
  color:black;
}


form div#text_sentiment{
  background-image: url("sentiment.png");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: 25% 22%;
  background-attachment: fixed;
}

.container{
	margin: 0 auto;
	width:80%;
}
