
form div{
  background:white;
  height:30px;
  padding:20px 20px;
  box-shadow:2px 2px 5px grey;
  text-align:center;
  transition: all 0.3s ease-in-out;
  overflow:hidden;
}

form div:hover{
  height: 95px;
  box-shadow:2px 2px 5px #4285f4;
}
