/* colors */
:root {
    --main-bg-color: white; 
    --main-bg-color2: white;
    --main-nav-txt-color: white;
    --main-txt-color: black;
    --main-accent-color: #4285f4;
    --main-nav-color: #4285f4;
}



/* 
 * General
 */

html, body, h1 {
  margin: 0;
  padding: 0;
}

body {
  margin-top:100px;
  background-color: #f4f4f4;
  ffont-family: 'Open Sans', sans-serif;
  font-size:18px;
  font-family:'lucida console', 'Courier';
}

h2, h3 {
  font-weight: 300;
  letter-spacing: -1.2px;

}


a {
  text-decoration: none;
  display: inline-block;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix {
  clear: both;
}

.section-content {
  color: #3a3a3a;
  float: left;
  width: 1000px;
  line-height: 30px;
}

.section-device {
  float: right;
  position: relative;
  top: 65px;
}

.section-device img {
  width: 600px;
}

textarea{
  font-size:15px;
}

form div:nth-child(2){
  padding: 20px 0px;
}

input[name="submit_btn"],
input[name="again_btn"],
.submitButton{
  background: var(--main-accent-color);
  border: 1px solid #1266f1;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.23px;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 7px;
}

#clearButton {
  background: lightgrey;
  border: 1px solid #e6e6e6;
  color: #d20707;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.23px;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius:7px;
  margin-left:10px;
}



/*background color gradient*/
body:nth-child(2) {
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: linear-gradient(var(--main-bg-color), var(--main-bg-color2)) fixed;
    background-repeat:no-repeat;
}

/* 
 * Header
 */

nav {
    background-color: var(--main-accent-color);
    border-bottom: .8px solid var(--main-accent-color);
    font-size: 22px;  
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1000;  
}

img#logo {
  float: left; 
  padding: 35px;
  width:120px;
  height:65px; 
  border-radius: 12px; 
  position: fixed;
  left: 250px;
  top: -35px;
}

nav ul, footer ul {
    ffont-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-family:'lucida sans typewriter','Courier'; 
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 25px;
}

nav a{color: var(--main-nav-txt-color);}

nav a {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    border-bottom: 1px solid transparent;    
    text-decoration: none;

}
nav a:hover {
    font-size:1.15em;
}

nav ul li:nth-child(4) a{

background:var(--main-bg-color);
color:var(--main-accent-color);
border-radius:5px;
 font-size:1.15em;
padding-top:5px;
padding-bottom:5px;
padding-left:5px;
padding-right:5px;
margin:-0.3%;
}

/*
 * Hero section 
 */

.hero-section .section-content {
  position: relative;
}

.hero-section .section-content h2 {
  font-size: 40px;
}

.hero-section .section-content h3 {
  font-size: 30px;
}




/* 
 * Results
 */

div[id=button]{
  padding: 20px 0px;
}

div h2{    /*title*/
  font-size:40px
}




/*footer*/
footer {
    font-size: .9em;
    text-align: center;
    width:100%;
    position:fixed;
    top:85%;
    left:35%;

}


footer a i{
  color: var(--main-accent-color);
  transition: all 0.5s ease-in-out;
}

footer a:hover i{
  color:black;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition:all 0.5s 
  border-bottom: 1px solid transparent;    
  text-decoration: none;
  color:green;
  /*font-size:40px !important;*/
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 25px;
}

i.material-icons{
  position: relative;
  /* Adjust these values accordingly */
  top: 4px;
}


/*digit classifier */
#controls{
  padding: 30px 0px;
}



/*animations*/
@keyframes move {
  from {
    margin-left: -50%;
    width: 300%; 
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}      
@-webkit-keyframes move {
  from {
    margin-left: -50%;
    width: 300%; 
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}


img#logo, nav a {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/*buttons*/
input[name = "submit_btn"],
.submitButton{
    box-shadow: 2px 4px #999;
}

input[name = 'submit_btn']:hover,
.submitButton:hover {
  background-color: #3a6ec3}
 
input[name = 'submit_btn']:active,
.submitButton:active {
  background-color: #3a6ec3;
  box-shadow:0 0;
  transform: translateY(3px);
}


/*nav animations*/
/* SHIFT */
nav ul li a {
  position:relative;
  z-index: 1;
}

nav ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 200%;
  content: '.';
  color: transparent;
  background: var(--main-bg-color);
  visibility: none;
  opacity: 0;
  z-index: -1;
  border-radius:5px;
}
nav ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 130%;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: var(--main-accent-color);
}



