#controls{
  padding: 30px 0px;
}

div#interact{
  width: 50%;
  float:left;
  overflow:hidden;
}

main{
  margin: 0 auto;
  width:65%;
}

.div_graph{
	margin:0 auto;
	width:65%;
}


img.graph {
	width:700px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}


hr{
	width:90%;
	border-top: 1px double var(--main-accent-color);

}

h3{
	font-size:30px;
	color:var(--main-accent-color);
	font-style:italic;
}



div#interact canvas{
position:absolute;
top:30%;
left:10%;
}

div#interact h3{
	position:absolute;
	top:20%;
	left:10%;
}

div#interact #clearButton{
	position:absolute;
	top:65%;
	left:10%;
}
div#result{
	position:relative;
	display: inline-block;
	width:70%;
}

div#result *{
	position:absolute;
	top:25%;
	left:50%;

}