{% extends "layout.html" %}


{% block content %}
<link href="{{ url_for('static', filename='css/apps_index.css') }}" rel="stylesheet">

 <main class="hero-section">
    <div class="container">
      
      <div class="section-content">
        <h2> Hello. </h2>

        	<form action="/text_sentiment"> 
        	<a href="/text_sentiment"> <div> 
            <b>Text Sentiment Analyzer</b>
        		<p><i>Using a multinomial naive bayes classifier to determine whether your text input is positive or negative! This small project was made mainly to practice deploying web apps with a machine learning backend.</i></p> 
        	</div>
          </a>
        </form> <br>


        <form action ="/digits">
        	<a href="/digits"><div> 
            <b> Handwritten Digit Recognizer</b>
            <p><i>Using a multinomial naive bayes classifier to determine whether your text input is positive or negative! This small project was made mainly to practice deploying web apps with a machine learning backend.</i></p> 
          </div>
        </a>
    </form>
    <br>



      </div>

    	<script src="static/js/index.js"></script>


      <div class="clearfix"></div>
    </div>
  </main>

{% endblock %}