{% extends "layout.html" %}


{% block content %}
 <main class="hero-section">
    <div class="container">
      
      <div class="section-content">
        <h2> Hello. </h2>
        <ul>
        	<form action="/text_sentiment"> 
        	<li> <a href="/text_sentiment">Text Sentiment Analyzer</a>
        		<ul><i>Using a multinomial naive bayes classifier to determine whether your text input is positive or negative! This small project was made mainly to practice deploying web apps with a machine learning backend.</i></ul> 
        	</li>
        </form> <br>


        <form action ="">
        	<li> <a href="#">Link 2</a></li>
        </ul>
    </form>



      </div>

    	<script src="static/js/index.js"></script>


      <div class="clearfix"></div>
    </div>
  </main>

{% endblock %}