<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122105349-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-122105349-2');
    </script>

    <title>Kenny's Web Apps</title>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{{ "/static/img/k_blue.png"}}">

  </head>
  <body>
    <header>
      <nav>
        <a id = "name">Kenny Lov</a>
        <!-- <img id = "logo" src = "{{ url_for('static', filename='img/logo2_white.png') }}"> </img> -->
          <ul>
              <!-- <li><a href="https://clfkenny.github.io">Home</a></li> -->
              <li><a href="https://clfkenny.github.io/about">About</a></li>
              <li><a href="https://clfkenny.github.io/projects">Blog</a></li>
              <li><a href = "https://clfkenny.herokuapp.com">Projects</a></li>
          </ul>
      
    </header>
    
    {% block content %}
    {% endblock %}
        <footer>
          <ul>
              <li><a href="mailto:lov.kenny1996@gmail.com"><i class="material-icons" style="font-size:22px">email</i></a></li>
              <li><a href="https://github.com/clfkenny"><i class="fa fa-github" style="font-size:20px"></i> </a></li>
        <li><a href="https://www.linkedin.com/in/kenny-lov/"><i class="fa fa-linkedin-square" style="font-size:20px"></i></a></li>
        </ul>
      </footer>    


  </body>

</html>