{% extends "layout.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container">
      
      <div class="section-content">
        <h2> Text Sentiment Analyzer</h2>
        <h3> Please enter a sentence: </h3>

        {% from "_formhelpers.html" import render_field %}
        <form method=post action="/results">

  <div>
  {{ render_field(form.moviereview, cols='60', rows='10') }}
  </div>
  <div>
    <input type=submit value='Analyze' name='submit_btn'>
  </div>
</form>
      </div>

<!--       <div class="section-device">
        <img src="static/img/device.png">
      </div>
       -->
      <div class="clearfix"></div>

    </div>
  </main>
{% endblock %}