{% extends "layout.html" %}

{% block content %}
    <link href="{{ url_for('static', filename='css/text_sentiment.css') }}" rel="stylesheet">
  <main class="hero-section">
    <div class="container">
      
      <div class="section-content">
        <h2> Text Sentiment Analyzer</h2>
        <h3> Please enter a sentence: </h3>

        {% from "_formhelpers.html" import render_field %}
        <!-- <form method=post action="/results"> -->

  <div>
  {{ render_field(form.text_review, cols='60', rows='10') }}
  </div>
  <div>
    <!-- <input type=submit value='Analyze' name='submit_btn' onclick = "getPred()"> -->
    <input type="button" id="clearButton" value="Clear" onclick = "clearInput()">
  </div>
</form>
      </div>



    <div class="container">
<!--   <h3>Your text submission:</h3>
  <div class = "input_text">{{ content }}</div>

  <h3>Prediction:</h3> -->

    <div class = "container" id = "result">
      <!-- <h1 id="result" style="margin-right:20px; margin-top:300px;float:left;"><span> </span></h1> -->
      <canvas id="myChart" width="600" height="400"></canvas>

    </div>

    <div class = "emoji">
      <img id = "happy" src="{{ url_for('static', filename='img/happy.svg') }}">
      <img id = "mad" src="{{ url_for('static', filename='img/mad.svg') }}">
      <img id = "neutral" src="{{ url_for('static', filename='img/neutral.svg') }}">
    </div>

      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
      <script src = 'static/js/Chart.min.js'></script>      
      <script src="static/js/text_sentiment.js"></script>

    </div>
    <br> <br> <br>


      <script type="text/javascript">

      var ctx = document.getElementById("myChart").getContext('2d');
      // ctx.canvas.width = 300
      // ctx.canvas.height = 400;
      Chart.defaults.global.defaultFontColor = '#000';
      Chart.defaults.global.defaultFontSize = 14;
      // Chart.defaults.global.defaultFontFamily = "monospace";
      var myChart = new Chart(ctx, {
          type: 'pie',
          data: {
              labels: ['Negative', 'Positive'],
              datasets: [{
                  label: 'Prediction:',
                  data: [0.5,0.5],
                  backgroundColor: [
                      'rgba(220,20,60)',
                      'rgba(50,205,50)'

                  ],
                  borderColor: [
                      'rgba(54, 162, 235, 1)'

                  ],
                  borderWidth: 0
              }]
          },
          options: {
            responsive: false,
            maintainAspectRatio: true
          }
      });



        function getPred(){
          var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
          var textReview = document.getElementById("text_review");
          var text = textReview.value;

          $.ajax({
            type: "POST",
            url: $SCRIPT_ROOT + "/predict_text_senti",
            data: text,
            success: function(data){
              myChart.data.datasets[0].data = data.probas;
              myChart.update();
              
              if(data.probas[0] > 0.75) showMad();
              else if(data.probas[0] < 0.25) showHappy();
              else showNeutral();

            }
          });         
        }


</script>



<!--       <div class="section-device">
        <img src="static/img/device.png">
      </div>
       -->
      <div class="clearfix"></div>

    </div>
  </main>
{% endblock %}